# Implementation of Movie Recommender System - Python

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

path=r"../Datasets/movies.tsv"

df=pd.read_csv(path,sep="\t")
df.head()

     0   50  5  881250949
0    0  172  5  881250949
1    0  133  1  881250949
2  196  242  3  881250949
3  186  302  3  891717742
4   22  377  1  878887116

In [10]:
# setting column names

column_names=["user_id", "item_id","rating","timestamp"]
df=pd.read_csv(path,sep="\t", names=column_names)
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [14]:
movies_titles=pd.read_csv(r"..\Datasets\Movie_id_titles.csv")
movies_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)